<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bk.css">
    <title>Cityride</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div class="container">
        <h1>Cityride</h1>
        
        <form id="locationForm">
            <input type="text" id="Address" placeholder="Address" required />
            <!-- <input type="text" id="latitude" placeholder="Latitude" required />
            <input type="text" id="longitude" placeholder="Longitude" required /> -->
            <textarea id="message" placeholder="Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
        
        <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/assets/js/bk.js"></script>
</body>
</html>
