<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cityride</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="icon" href="images/Screenshot 2023-12-07 083631.jpg">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
</head>
<body>
    <section id="banner">
        <div class="fro">
       <br><h1><span>C</span>ity<i class="fa fa-car"></i></h1>
        </div>
        <div class="banner-text"> 
           <h1>CITYRIDE</h1>
           <p>Book your ride now <i class="fa fa-car" style="color: #000;"></i></p>
           <div class="banner-btn">
            <a href="/register"><span></span><i class="fa fa-car"></i>Register</a>
            <a href="/learn"><span></span><i class="fa fa-book"></i>Learn More</a>
        </div>
    </section>
    

    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="#banner">HOME<i class="fa fa-home"></i></a></li>
                <li><a href="#feature">FEATURE <i class="fa fa-paper-plane"></i></a></li>
                <li><a href="#Services">SERVICES <i class="fa fa-car"></i></a></li>
                <li><a href="#testimonial">TESTIMONIAL <i class="fa fa-book"></i></a></li>
                <!-- <li><a href="#footer">MEET US <i class="fa fa-user"></i></a></li> -->
                <li><a href="https://www.google.com/maps/place/Mararaba,+Ado+961105,+Nasarawa/@9.0273962,7.6033769,16z/data=!3m1!4b1!4m6!3m5!1s0x104e08ab83cc70b9:0x7f12b5a0060404af!8m2!3d9.0266823!4d7.6073554!16s%2Fm%2F0dgsqfz?hl=en&entry=ttu&g_ep=EgoyMDI0MDkyNC4wIKXMDSoASAFQAw%3D%3D">MAP<i class="fa fa-map-marker"></i></a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img src="/images/menu123-removebg-preview.png" id="menu">
    </div>

   <!-- Features -->
      <section id="feature">
          <div class="title-text">
           <p>FEATURES</p>
           <H1>Why you Choose Us</H1>
          </div>
          <div class="feature-box">
           <div class="features">
             <h1>Experience Comfort</h1>
             <div class="feature-desc">
                <div class="feature-icon">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="feature-text">
                    <p>Enjoy in the world of relaxation
                        <br>
                        Best in the world</p>
                </div>
             </div>
             
             <h1>Pre Booking Online</h1>
             <div class="feature-desc">
                <div class="feature-icon">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </div>
                <div class="feature-text">
                    <p>You can book a ride now 
                        <br>
                        We assure you great comfort</p>
                </div>
             </div>
             
             <h1>Affordable Cost</h1>
             <div class="feature-desc">
                <div class="feature-icon">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="feature-text">
                    <p>Price is very unique and affordable
                        <br>
                        Speed and durability is our key</p>
                </div>
             </div>
           </div>
            <div class="features-img">
             <img src="/images/24hurs.jpg" alt="">
            </div>
          </div>
      </section>

     <!-- Services -->
       <section id="Services">
        <div class="title-text">
            <p>SERVICES</p>
            <H1>We Provide Better</H1>
           </div>
           <div class="services-box">
            <div class="single-service">
                <img src="/images/around.jpg" style="padding: 10px;">
                <div class="overlay"></div>
                <div class="service-desc">
                    <br>
                    <h3 style="color: #000;">Enjoy 24 hours support</h3>
                    <hr>
                    <p style="color: #000;">good transportation system fast and reliable all over the cities,and channels in all state, take cityride
                        comfort,durability and consistency in transport system in nigeria.</p>
                </div>
            </div>

            <div class="overlay"></div>
            <div class="single-service">
                <img src="/images/gets.jpg" style="padding: 14px;">
                <div class="service-desc">
                    <br>
                    <h3 style="color: black; padding: 2px;">Quick Arrival to destination</h3>
                    <hr>
                    <p style="color: #000;">it is the best transportation system and reliable all over the world,and streams in all state, take cityride
                        steadibility,durability and uniformity in transport system in world.</p>
                </div>
            </div>
            <div class="overlay"></div>
            <div class="single-service">
                <img src="/images/servs.jpg" style="padding: 14px;">
                <div class="service-desc">
                    <h3 style="color: #000;">Durability</h3>
                    <hr>
                    <p style="color: #000;">We assure you fast and reliable, transportation,
                        Book now and enjoy greate comfort with maximum speed and safe arrival.</p>
                </div>
            </div>
            <div class="overlay"></div>

            <div class="single-service">
                <img src="/images/trs.jpg" style="top: 4px;">
                <div class="service-desc">
                    <h3 style="color: #000;">Comfortable interior</h3>
                    <hr>
                    <p style="color: #000;">We provide you with fast and comfort, transports,
                        enjoy now with cityride get the best movement around the worldwide.</p>
                </div>
            </div>
             <div class="overlay"></div>

           </div>
       </section>

     <!-- Testimonial -->

     <section id="testimonial">
        <div class="title-text">
            <p>TESTIMONIAL</p>
            <H1>What Client Says</H1>
           </div>
           <div class="testimonial-row">
             <div class="testimonial-col">
                <div class="user">
                    <img src="/images/mr.jpg" >
                    <div class="user-info ">
                        <h4>Bryan Dave <i class="fa fa-twitter"></i></h4>
                        <small>@bryandave</small>
                    </div>
                </div>
                <p>Cityride is the best transport system in the world it is fast 
                    comfortable I will keep on booking on cityride for travells.</p>
             </div>
             <div class="testimonial-col">
                <div class="user">
                    <img src="/images/gl.jpg" >
                    <div class="user-info">
                        <h4>Franklin Mark <i class="fa fa-twitter"></i></h4>
                        <small>@Franklinmark</small>
                    </div>
                </div>
                <p>I love this it so amazing and wonderful i love cityride it takes
                    you to your destination in Seconds.</p>
             </div>
             
             <div class="testimonial-col">
                <div class="user">
                    <img src="/images/me.jpg" >
                    <div class="user-info">
                        <h4>Alfred Smith<i class="fa fa-twitter"></i></h4>
                        <small>@alfredsmith</small>
                    </div>
                </div>
                <p>Cityride is the great and reliable  i wish more platform to come
                    and i can't wait to see great accomplish to come.</p>
             </div>
           </div>
     </section>

     <!-- footer -->

     <section id="footer">
        <img src="" class="footer-img">
        <div class="title-text">
            <p style="color: #fff;">CONTACT</p>
            <H1 style="color: #fff;">Book a ride now</H1>
           </div>
           <div class="footer-row">
            <div class="footer-left">
                <h1 style="color: #fff;">Opening Hours</h1>
                <p style="color: #fff;"><i class="fa fa-clock-o"></i>Monday to Friday 9am-10pm</p>
                <p style="color: #fff;"><i class="fa fa-clock-o"></i>Saturday to Sunday 9am-10pm</p>
            </div>
            <div class="footer-right">
                <h1 style="color: #fff;">Get in Touch</h1>
                <p style="color: #fff;"><i class="fa fa-map-marker"></i>Along nyaya road</p>
                <p style="color: #fff;"><i class="fa fa-paper-plane"></i>@Cityride.com</p>
                <p style="color: #fff;"><i class="fa fa-phone"></i>+234-80-61-77-57-71</p>
            </div>
           </div>
        </div>
        </div>
     </section>
     <div class="social-links">
        <i class="fa fa-facebook"><a href=""></a></i>
        <i class="fa fa-instagram"><a href=""></a></i>
        <i class="fa fa-youtube"><a href=""></a></i>
        <i class="fa fa-linkedin"><a href=""></a></i>
        <i class="fa fa-twitter"><a href=""></a></i>
        <p>Copyright @Cityride.com</p>
     </div>
     
    <script src="/js/index.js"></script>
</body>
</html>
        