<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers form</title>
    <link rel="stylesheet" href="/css/register.css">
     <!-- font awesome cdn link -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="icon" href="images/Screenshot 2023-12-07 083631.jpg">
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-f148e67a-3b46-41ac-8f8b-e418cb37bafb" data-elfsight-app-lazy></div>
</head>
<body>
    
     <header>
        <div class="logo">
            <p><span>C</span>ITYRIDE</p>
        </div>
        <div class="ser">
                    <i class="fa fa-bars"></i>

        </div>
        <nav>
            <ul class="show">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <!-- <button class="btn"><a href="#">Get started </a></button> -->
    </header> 
     <!-- container start -->
     <div id="container">
        <!-- form wrap start -->
        <div class="form-wrap">
            <h1>Sign Up</h1>
            <div class="fre">
             <p><span></span><span><i class="fa fa-car"></i></span></p>
            </div>
            <!-- form start -->
            <form action="" method="post"  >
                <p id="error" style="color: red; font-size: 12px; font-family: monospace;"></p>
                <div class="form-group">
                <label for="First-name">First Name:</label>
                <input type="text" name="firstname" id="firstname" required>
                
                </div>
                <div class="form-group">
                    <label for="Last-name">Last Name:</label>
                    <input type="text" name="lastname" id="lastname" required>
                    </div>

                    <div class="form-group">
                        <label for="Last-name">PhoneNumber:</label>


                        <input type="text" name="phone" id="phone" required>
                    </div>
                      

                    <div class="form-group">
                        <label for="Last-name">Address:</label>

                            <input type="text" name="address" id="address" required>
                          
                    </div>
             
                    <div class="form-group">
                        <label for="Last-name">Email:</label>

                    <input type="email" name="email" id="email" required>
                    </div>
                 
                        <select class="form-group" name="model" id="">
                            <option value="rider">rider</option>
                            <option value="users">users</option>
                        </select>
                      
                        <div class="form-group">
                            <label for="Last-name">Password:</label>

                    <input type="password" name="password" id="password" required>
                        </div>
                   
                    <button type="submit" ><i class="fa fa-book"></i><a href="/dashboard">Sign Up </a></button>
                    <p class="button-class">By clicking the sign up button, you agree to our Term & Condition</a> and Privacy Policy</p>
            <!-- form close -->
        </form>
        </div>
        <!-- form wrap close -->
        <footer>
            <p>Already Have an Account :<a href="/login"> Login</a></p>
        </footer>
     </div>
     <!-- container start -->

<script>

document.querySelector(".fa").addEventListener("click", function(){
  console.log("clicked")
  document.querySelector(".show").classList.toggle("active")
  document.querySelector(".fa").classList.toggle("active")
  document.querySelector(".btn").classList.toggle("active")
})
</script>


     <script src="/js/register.js"></script>
    
</body>
</html>